<div class="text-center py-8 mx-4 sm:mx-10 md:mx-20">
  <p class="text-[{{ colors.primary }}] font-semibold">Our Services</p>
  <h2
    class="text-2xl sm:text-3xl md:text-4xl font-bold leading-snug mt-2 mx-4 sm:mx-20 md:mx-72"
  >
    Comprehensive career development tailored <br class="hidden md:block" />
    to your needs in
  </h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4 sm:px-8 md:px-16 py-4 mt-8"
  >
    <div
      *ngFor="let service of services"
      class="bg-[{colors.background}] p-6 rounded-lg shadow-lg w-full text-left hover:bg-[#16BC88] group transition-all duration-300"
    >
      <div class="flex items-center space-x-3 mb-3">
        <span [class]="'bg-' + service.iconColor + '-100 p-2 rounded-md'">
          <svg
            class="w-6 h-6 text-{{ service.iconColor }}-500"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              [attr.d]="service.iconPath"
            />
          </svg>
        </span>
        <h3
          class="text-lg font-bold text-[{{
            colors.title
          }}] group-hover:text-white"
        >
          {{ service.title }}
        </h3>
      </div>
      <p
        class="text-sm leading-relaxed text-[{{
          colors.subtitle
        }}] group-hover:text-white"
      >
        {{ service.description }}
      </p>
      <button
        [ngStyle]="{ 'background-color': colors.buttonLightBg }"
        class="mt-4 w-full text-[{{
          colors.primary
        }}] py-2 px-4 rounded-lg font-medium"
      >
        Register now
      </button>
    </div>
  </div>
</div>
