<div class="p-4 lg:p-8">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 m-4"
  >
    <div
      *ngFor="let card of cards"
      [ngStyle]="{ 'background-color': colors.background }"
      class="p-5 rounded-lg flex flex-col md:flex-row items-center justify-between border-2"
    >
      <div class="w-full text-center md:text-left">
        <p class="text-base md:text-lg font-medium">{{ card.title }}</p>
        <div
          class="flex flex-col md:flex-row md:justify-between gap-2 md:gap-3 items-center"
        >
          <p class="text-xl font-bold">{{ card.value }}</p>
          <div class="flex flex-row items-center">
            <p
              class="text-xl font-bold"
              [ngStyle]="{
                color: card.trend === 'up' ? colors.ok : colors.danger
              }"
            >
              {{ card.percentage }}
            </p>
            <span
              class="text-xl ml-1"
              [ngStyle]="{
                color: card.trend === 'up' ? colors.ok : colors.danger
              }"
            >
              {{ card.trend === "up" ? "↑" : "↓" }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    [ngStyle]="{ 'background-color': colors.background }"
    class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 m-4"
  >
    <!-- Left Section: Bar Chart -->
    <div class="p-6 rounded-lg shadow-lg w-full md:w-[75%]">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-bold">Top Cities Requests</h2>
        <select
          [(ngModel)]="selectedMonth"
          (change)="filterData()"
          class="border rounded-md p-2"
        >
          <option *ngFor="let month of months" [value]="month">
            {{ month }}
          </option>
        </select>
      </div>
      <!-- Bar Chart -->
      <canvas id="MyChart"></canvas>
    </div>

    <!-- Right Section: Traffic Chart -->
    <div class="p-6 rounded-lg shadow-lg w-full md:w-[300px]">
      <h2 class="text-lg font-bold mb-4">Traffic on website</h2>

      <div class="space-y-4">
        <div *ngFor="let item of trafficData" class="space-y-1">
          <div class="flex justify-between text-sm font-medium py-4">
            <span>{{ item.name }}</span
            ><span>{{ item.percentage }}%</span>
          </div>
          <div class="w-full h-2 bg-gray-200 rounded-full">
            <div
              class="h-2 rounded-full"
              [ngStyle]="{
                width: item.percentage + '%',
                'background-color': item.color
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    [ngStyle]="{ 'background-color': colors.background }"
    class="border-2 rounded-lg m-4 overflow-x-auto"
  >
    <div
      class="flex flex-col sm:flex-row justify-between items-center p-4 border-b"
    >
      <h2 class="text-lg font-bold mb-4 sm:mb-0">Recent Registrations</h2>
      <div class="relative">
        <input
          type="text"
          placeholder="Search here..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterUsers()"
          [ngStyle]="{ 'background-color': colors.gray100 }"
          class="border p-2 pl-10 rounded-md w-full sm:w-64 focus:outline-none"
        />
        <i class="fas fa-search absolute left-3 top-3"></i>
      </div>
    </div>

    <table class="w-full text-left border-collapse">
      <thead>
        <tr [ngStyle]="{ color: colors.subtitle }" class="border-b text-sm">
          <th class="p-4">Name</th>
          <th class="p-4">Email</th>
          <th class="p-4">Contact</th>
          <th class="p-4">Cities</th>
          <th class="p-4">Category</th>
          <th class="p-4">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let users of filteredUsers"
          class="border-b text-sm hover:bg-gray-50"
        >
          <td class="p-3 flex items-center space-x-2">
            <img [src]="users.image" class="w-[37px] h-[38px] rounded-full" />
            <span>{{ users.name }}</span>
          </td>
          <td [ngStyle]="{ color: colors.subtitle }" class="p-3">
            {{ users.email }}
          </td>
          <td [ngStyle]="{ color: colors.subtitle }" class="p-3">
            {{ users.contact }}
          </td>
          <td [ngStyle]="{ color: colors.subtitle }" class="p-3">
            {{ users.cities }}
          </td>
          <td [ngStyle]="{ color: colors.subtitle }" class="p-3">
            {{ users.category }}
          </td>
          <td class="p-3">
            <div class="flex space-x-4 items-center">
              <i class="far fa-eye"></i>
              <i class="fas fa-download"></i>
              <i class="far fa-trash-alt"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination Section -->
    <div
      class="flex flex-col sm:flex-row items-center justify-end gap-2 mt-8 space-y-4 sm:space-y-0 sm:space-x-2 border-t-2 p-4"
    >
      <div class="flex items-center space-x-4">
        <button class="font-bold">1</button>
        <button [ngStyle]="{ color: colors.subtitle }" class="font-medium">
          2
        </button>
        <button [ngStyle]="{ color: colors.subtitle }" class="font-medium">
          3
        </button>
        <span [ngStyle]="{ color: colors.subtitle }" class="">.....</span>
      </div>
      <div class="flex items-center space-x-2">
        <button
          [ngStyle]="{ color: colors.subtitle }"
          class="flex items-center space-x-2 px-4 py-2 rounded-lg border-2 font-medium"
        >
          <span>←</span>
          <span>Previous</span>
        </button>
        <button
          [ngStyle]="{ color: colors.subtitle }"
          class="flex items-center space-x-2 px-4 py-2 rounded-lg border-2 font-medium"
        >
          <span>Next</span>
          <span>→</span>
        </button>
      </div>
    </div>
  </div>
</div>
