<div>
  <ng-container
    *ngIf="
      !isLoginPage() &&
      !isRegisterPage() &&
      !isForgotPage() &&
      !isEnterCodePage() &&
      !isUserDashPage() &&
      !isAdminDashPage()
    "
  >
    <app-navbar></app-navbar>
  </ng-container>

  <div *ngIf="isHomePage()">
    <app-banner></app-banner>
    <app-about-us></app-about-us>
    <app-our-services></app-our-services>
    <app-why-portal></app-why-portal>
    <app-team></app-team>
    <app-success-story></app-success-story>
    <app-blogs></app-blogs>
    <app-contact></app-contact>
    <app-faq></app-faq>
  </div>

  <div *ngIf="isAboutPage()">
    <app-about-us></app-about-us>
    <app-why-portal></app-why-portal>
  </div>

  <div *ngIf="isJobPage()">
    <app-job></app-job>
  </div>

  <div *ngIf="isTrainingPage()">
    <app-traning></app-traning>
  </div>

  <div *ngIf="isBlogsPage()">
    <app-blogs2></app-blogs2>
  </div>

  <div *ngIf="isContactPage()">
    <app-contact></app-contact>
  </div>

  <div *ngIf="isFaqPage()">
    <app-faq></app-faq>
    <app-blogs></app-blogs>
  </div>

  <div *ngIf="isLoginPage()">
    <app-login></app-login>
  </div>

  <div *ngIf="isRegisterPage()">
    <app-register></app-register>
  </div>

  <div *ngIf="isForgotPage()"><app-forgot-screen></app-forgot-screen></div>
  <div *ngIf="isEnterCodePage()"><app-enter-code></app-enter-code></div>

  <div *ngIf="isUserDashPage()">
    <app-user-dashboard></app-user-dashboard>
  </div>

  <div *ngIf="isAdminDashPage()">
    <app-admin-dashboard></app-admin-dashboard>
  </div>

  <ng-container
    *ngIf="!isLoginPage() && !isUserDashPage() && !isAdminDashPage()  && !isForgotPage()  && !isEnterCodePage()"
  >
    <app-footer></app-footer>
  </ng-container>
</div>
