<div class="flex w-full justify-between items-center pb-4 border-b-2 mt-2 mb-4">
  <h3 class="text-lg font-semibold">Preferred Career Path</h3>
  <button
    class="bg-[{{
      colors.primary
    }}] text-white px-4 py-2 rounded-md font-semibold text-sm sm:text-base"
    (click)="goToNext()"
  >
    Save & Next
  </button>
</div>

<div class="flex flex-col gap-3 mb-8">
  <div class="flex flex-wrap gap-2">
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Business / Entrepreneurship
    </button>
    <button
      class="rounded-full bg-[{{
        colors.primary
      }}] text-white px-4 py-2 text-sm sm:px-6 sm:py-2"
    >
      Technology / IT
    </button>
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Art / Design
    </button>
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Social Services / NGOS
    </button>
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      HealthCare
    </button>
  </div>
  <div class="flex gap-2">
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Business / Entrepreneurship
    </button>
    <button class="rounded-full border-2 px-3 py-1 text-sm sm:px-4 sm:py-2">
      Other
    </button>
  </div>
</div>

<div class="flex w-full justify-between items-center pb-4 border-b-2 mt-2 mb-8">
  <h3 class="text-lg font-semibold">Hobbies and Extra-Curricular</h3>
</div>

<div class="flex flex-col gap-3 mb-8">
  <div class="flex flex-wrap gap-2">
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Business / Entrepreneurship
    </button>
    <button
      class="rounded-full bg-[{{
        colors.primary
      }}]  text-white px-4 py-2 text-sm sm:px-6 sm:py-2"
    >
      Technology / IT
    </button>
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Art / Design
    </button>
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Social Services / NGOS
    </button>
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      HealthCare
    </button>
  </div>
  <div class="flex gap-2">
    <button class="rounded-full border-2 px-4 py-2 text-sm sm:px-6 sm:py-2">
      Business / Entrepreneurship
    </button>
    <button class="rounded-full border-2 px-3 py-1 text-sm sm:px-4 sm:py-2">
      Other
    </button>
  </div>
</div>

<div class="flex w-full justify-between items-center pb-4 border-b-2 mt-2 mb-8">
  <h3 class="text-lg font-semibold">Feedback</h3>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 ml-0">
  <div class="flex flex-col">
    <label class="font-medium pb-2">How can we help You?</label>
    <select class="border-2 py-2 px-4 rounded-md w-full text-sm sm:text-base">
      <option>Select Option</option>
    </select>
  </div>

  <div class="flex flex-col">
    <label class="font-medium pb-2">How did you hear about this portal?</label>
    <select class="border-2 py-2 px-4 rounded-md w-full text-sm sm:text-base">
      <option>Select Option</option>
    </select>
  </div>
</div>
